<ion-view view-title="Friends">
  <ion-content class="padding friends center app">
    <h2>Contacts</h2>
    <ion-scroll scrollbar-x="false" scrollbar-y="false">
      <div class="friend">
        <h3>Friend 1</h3><span class="ion-ios-plus-outline"></span>
      </div>
      <div class="friend">
        <h3>Friend 2</h3><span class="ion-ios-plus-outline"></span>
      </div>
      <div class="friend">
        <h3>Friend 3</h3><span class="ion-ios-plus-outline"></span>
      </div>
      <div class="friend">
        <h3>Friend 4</h3><span class="ion-ios-plus-outline"></span>
      </div>
      <div class="friend">
        <h3>Friend 5</h3><span class="ion-ios-plus-outline"></span>
      </div>
      <div class="friend">
        <h3>Friend 6</h3><span class="ion-ios-plus-outline"></span>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
