<ion-view view-title="Friends">
  <ion-content class="friends center app">
    <ion-scroll scrollbar-x="false" scrollbar-y="false">
		<div id='container'>
      <div class="form">
        <input type="email" id="email" [(ngModel)]="email" placeholder="Add by Email">
        <button class="record" ng-click="addFriend(email)">Add</button>
      </div>
      <div class="friend">
        <h3>Friend 1</h3><span class="ion-ios-plus-outline"></span>
      </div>
      <div class="friend">
        <h3>Friend 2</h3><span class="ion-ios-plus-outline"></span>
      </div>
      <div class="friend">
        <h3>Friend 3</h3><span class="ion-ios-plus-outline"></span>
      </div>
      <div class="friend">
        <h3>Friend 4</h3><span class="ion-ios-plus-outline"></span>
      </div>
      <div class="friend">
        <h3>Friend 5</h3><span class="ion-ios-plus-outline"></span>
      </div>
      <div class="friend">
        <h3>Friend 6</h3><span class="ion-ios-plus-outline"></span>
      </div>
		</div>
    </ion-scroll>
  </ion-content>
</ion-view>
