<ion-view view-title="Notifications">
  <ion-content class="notification center app">
    <ion-scroll scrollbar-x="false" scrollbar-y="false">
      <div class="notification">
        <h3>notification 1</h3><span class="ion-ios-plus-outline"></span>
      </div>
      <div class="notification">
        <h3>notification 2</h3><span class="ion-ios-plus-outline"></span>
      </div>
      <div class="notification">
        <h3>notification 3</h3><span class="ion-ios-plus-outline"></span>
      </div>
      <div class="notification">
        <h3>notification 4</h3><span class="ion-ios-plus-outline"></span>
      </div>
      <div class="notification">
        <h3>notification 5</h3><span class="ion-ios-plus-outline"></span>
      </div>
      <div class="notification">
        <h3>notification 6</h3><span class="ion-ios-plus-outline"></span>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
