<ion-view view-title="Notifications">
  <ion-content class="center app">
    <ion-scroll scrollbar-x="false" scrollbar-y="false">
      <div class="notification">
        <div class="content">
          <h3>Notification 1</h3>
          <p>asdfghjgfdsdfghjgfdsdfghjgfds</p>
        </div>
        <a href="#/approve_notification"><span class="ion-checkmark"></span></a>
        <a href="#/decline_notification"><span class="ion-close-round"></span></a>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
