<ion-view view-title="Notifications">
  <ion-content class="center app">
    <ion-scroll scrollbar-x="false" scrollbar-y="false">
      <div class="notification">
        <a href="#/decline_notification"><span class="ion-android-delete"></span></a>
        <h3>notification 1</h3>
        <a href="#/approve_notification"><span class="ion-checkmark"></span></a>
        <div class="message">
          <p>asdfghjgfdsdfghjgfdsdfghjgfds</p>
        </div>
      </div>
      <div class="notification">
        <a href="#/decline_notification"><span class="ion-android-delete"></span></a>
        <h3>notification 2</h3>
        <a href="#/approve_notification"><span class="ion-checkmark"></span></a>
        <div class="message">
          <p>asdfghjgfdsdfghjgfdsdfghjgfds</p>
        </div>
      </div>
      <div class="notification">
        <a href="#/decline_notification"><span class="ion-android-delete"></span></a>
        <h3>notification 3</h3>
        <a href="#/approve_notification"><span class="ion-checkmark"></span></a>
        <div class="message">
          <p>asdfghjgfdsdfghjgfdsdfghjgfds</p>
        </div>
      </div>
      <div class="notification">
        <a href="#/decline_notification"><span class="ion-android-delete"></span></a>
        <h3>notification 4</h3>
        <a href="#/approve_notification"><span class="ion-checkmark"></span></a>
        <div class="message">
          <p>asdfghjgfdsdfghjgfdsdfghjgfds</p>
        </div>
      </div>
      <div class="notification">
        <a href="#/decline_notification"><span class="ion-android-delete"></span></a>
        <h3>notification 5</h3>
        <a href="#/approve_notification"><span class="ion-checkmark"></span></a>
        <div class="message">
          <p>asdfghjgfdsdfghjgfdsdfghjgfds</p>
        </div>
      </div>
      <div class="notification">
        <a href="#/decline_notification"><span class="ion-android-delete"></span></a>
        <h3>notification 6</h3>
        <a href="#/approve_notification"><span class="ion-checkmark"></span></a>
        <div class="message">
          <p>asdfghjgfdsdfghjgfdsdfghjgfds</p>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
