<ion-view view-title="Share Check">
  <ion-content class="app center quest">
    <input type="text" id="subject" ng-model="formData.subject" placeholder="Subject">
    <button class="record">
      <p>Add Friend</p><span class="ion-ios-plus-outline"></span>
    </button>

    <video  id="video-player" class="video" video-control control-play="{{play}}" oncontextmenu="return false" autoplay="true" loop controls="controls" class="composition-video" ng-src="{{videoSource}}" type="video/mp4">

    </video>

    <button class="share add_friend" ng-click="check()">Share</button>
  </ion-content>
</ion-view>
