* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p, span {
  font-size: 1.2rem;
  display: inline-block;
}

input {
  width: 100%;
  font-size: 1.2rem !important;
  padding-top: .4rem !important;
  padding-right: .4rem !important;
  padding-left: .4rem !important;
  padding-bottom: .4rem !important;
  border-radius: .1rem;
}

.app * {
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

.background .pane, .ion_content {
  background-image: linear-gradient(red, black);
}

.menu {
  background: none;
}

.title {
  font-size: 1.75rem !important;
}

.center {
  margin: auto;
  display: block;
  text-align: center;
}

.app {
  width: 300px;
}

.login * {
  margin-top: 2rem;
}

.login img {
  padding: 1rem;
  border-radius: 50%;
  background-color: white;
  border: .2rem solid red;
}

.profile li {
  border: .2rem solid white;
  text-align: center;
  padding-top: 1rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: .5rem;
  font-size: 1.8rem;
}

.profile ul {
  margin-top: 1.75rem;
  float: left;
}

.profile .info {
  margin-top: 1.75rem;
  float: right;
  text-align: center;
  width: 60%;
}

.profile .info h3 {
  display: inline-block;
  margin-right: 1rem;
  color: white;
}

.profile .photo {
  padding-top: 9rem;
}

.friends .friend {
  background-color: rgba( 255, 255, 255, .2);
  overflow: auto;
  padding: .5rem .5rem .1rem .5rem;
  border-radius: .1rem;
  margin-top: .75rem;
}

.friends h3 {
  display: inline-block;
  float: left;
}

.friends span {
  float: right;
  font-size: 2rem;
}

.challenge, .record, .share, .notification {
  overflow: auto;
  padding: .5rem .5rem .1rem .5rem;
  border-radius: .1rem;
  margin-top: .75rem;
  width: 100%;
}

.record span {
  margin-left: 1rem;
}

.challenge {
  border: .1rem solid white;
}

.record, .share, .notification {
  background-color: rgba( 255, 255, 255, .2);
}

.share {
  padding: 1rem;
}

.share a {
  text-align: center;
  float: none !important;
  padding: 0rem !important;
}

.quest video {
  height: 250px;
  width: 298px;
  background-image: url("/img/45-degree-fabric-light.png");
  margin-top: 1rem;
  box-shadow:inset 0px 0px 0px 2px #000;
}

.quest span {
  margin-right: 1rem;
}

.add_friend a {
  text-decoration: none;
  font-size: 1.4rem;
  float: left;
  padding: .5rem 0rem 1rem 1rem;
}

.message {
  clear: both;
  border-top: 2px solid rgba(255, 255, 255, .3);
  padding-top: .5rem;
  margin-top: .5rem;
}

.notification {
  padding: 1rem .5rem;
}

.notification h3 {
  text-align: center;
  display: inline;
}

.notification a {
  float: right;
  padding-top: .4rem;
}

.notification a:first-child {
  float: left;
}

/* Css for menu */
.ion_content .item {
  background-color: transparent;
  border: none; /*Removes all borders*/
  color: white; /*Text color for each item*/
  text-align: center;
  font-size: 1.3rem;
}

.ion_content .item .item-content {
  padding: 1rem 0;

}

/*Changes the border for the last item*/
.ion_content .item:last-child {
}

.ion_content .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/*Just makes the type white*/
.ion_content h2,
.ion_content h3,
.ion_content p,
.ion_content a {
  color: white;  /*Text color for each item, overrides the color property above*/
}
