/* Empty. Add your own CSS if you like */
.background, .background .pane, .background .item, .background .item-complex .item-content {
  background-image: -webkit-radial-gradient(circle, red 60%, black);
}

.center, .center * {
  margin: auto;
  display: block;
  text-align: center;
}

.login {
  width: 260px;
}

.login * {
  margin-top: 1rem;
}

.login_image {
  background-color: white;
  padding: 1rem;
  border-radius: 50%;
}
